<div
  class="flex flex-col items-center justify-center min-h-screen bg-gray-100 p-4"
>
  <div class="text-center">
    <h1 class="text-6xl font-bold text-red-500 mb-4">404</h1>
    <p class="text-lg font-semibold text-gray-700 mb-4">Page Not Found</p>
    <p class="text-gray-600 mb-8">
      The page you are looking for does not exist or has been moved.
    </p>
    <ng-container *ngIf="isLoggedIn; else notLoggedIn">
      <button
        (click)="navigateToClient()"
        class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition duration-300"
      >
        Go to Client
      </button>
    </ng-container>
    <ng-template #notLoggedIn>
      <button
        (click)="navigateToLogin()"
        class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition duration-300"
      >
        Go to Login
      </button>
    </ng-template>
  </div>
</div>
